<form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
  <div class="form-group">
    <label for="quote">Quote: </label>
    <input type="text" class="form-control" id="quote" [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" required>
    <div [hidden]="quote.valid||quote.pristine" class="alert alert-danger">
      <p>Required field</p>
    </div>
  </div>
  <div class="form-group">
    <label for="name">Authors name: </label><br>
    <input type="text" id="author" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
    <div [hidden]="author.valid||author.pristine" class="alert alert-danger">
      <p>Required field</p>
    </div>
  </div>
  <div class="form-group">
    <label for="person">Submitted by: </label><br>
    <input type="text" id="person" [(ngModel)]="newQuote.person" name="person" #person="ngModel" required>
    <div [hidden]="person.valid||person.pristine" class="alert alert-danger">
      <p>Required field</p>
    </div>
  </div>
  <div class="form-group">
    <label for="Date">Submitted on: </label><br>
    <input type="date" id="Date" [(ngModel)]="newQuote.Date" name="person" #Date="ngModel" required>
    <div [hidden]="Date.valid||Date.pristine" class="alert alert-danger">
      <p>Required field</p>
    </div>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
